@import "utils/variables";

#booklet {
  display: flex;

  & > * {
    flex: 1 1 auto;
    height: 100%;
  }

  & > div {
    padding: 1rem;
    overflow: auto;
    @media only screen and (min-width: $tabletBreakpoint) {
      flex: 0 0 auto;
    }
  }

  & > object {
    display: block;
  }
}
