@import "utils/variables";

#catalog {
  display: flex;
  flex-direction: column;

  .breadcrumb {
    display: flex;
    line-height: normal;  // override `1` from .ui.breadcrumb
    .section {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .list i.icon > img {
    width: 50px;
    height: 50px;
  }

  #category {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    padding: 1rem;

    @media only screen and (min-width: $tabletBreakpoint) {
      &.root {
        display: flex;

        & > .root {
          margin: auto;
          display: flex;
          align-items: stretch;
          justify-content: center;
          flex-wrap: wrap;

          $padding: 2em;
          max-width: calc((100px + #{$padding} * 4) * 4);

          a {
            flex: 0 0 calc(100px + #{$padding} * 4);
            display: block;
            text-align: center;
            padding: $padding 0;
            color: #000000;
            text-decoration: none;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.87);
            &:hover {
              background: rgba(0, 0, 0, 0.03);
            }
          }
        }
      }
    }
  }
}
