<div class="<%= isDetail ? 'mobile hidden' : '' %>">
  <h3>Содержание</h3>
  <div class="ui selection divided list">
    <% objects.forEach(function(object) { %>
    <a class="item <%= object.active ? 'active' : '' %>" href="<%= options.reverse('booklet', object.id) %>"><%= object.name %></a>
    <% }) %>
  </div>
</div>

<object class="<%= isDetail ? '' : 'mobile hidden' %>" data="<%= active.file %>#toolbar=0&navpanes=0" type="application/pdf">
  Ваш браузер не поддерживает просмотр PDF документов.
  <a href="<%= active.file %>">Нажмите здесь, чтобы загрузить этот файл</a>.
</object>
